
{% extends 'main.html' %}

{% block content %}
<h1>List of projects</h1>
<a href="{% url 'create_project' %}">add new project</a>
<form action="{% url 'projects' %}" method="get">
    <input type="text" name="q" value="{{q}}" placeholder="search for project" >
    <input type="text" name="pageNu" value="{{projects.number}}" placeholder="enter your page number" >

    {% include 'pagination.html' with querySet=projects paginator=paginator  %}
    <br>
    <input type="submit" value="search">
</form>
<table>
    <thead>
        <tr>
            <th>title</th>
            <th>operations</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{project}}</td>
                <td>
                    <a href="{% url 'project' project.id %}">detail</a> |
                    <a href="{% url 'update_project' project.id %}">edit</a> |
                    <a href="{% url 'delete_project' project.id %}">delete</a>
                </td>
            </tr>
        {%  endfor%}
    </tbody>
</table>

{% endblock content %}