
{% extends 'main.html' %}

{% block content %}
<h1>List of projects</h1>
<a href="{% url 'create_project' %}">add new project</a>
<form action="{% url 'projects' %}" method="get">
    <input type="text" name="q" value="{{q}}" placeholder="search for project" >
    <input type="text" name="pageNu" value="{{projects.number}}" placeholder="enter your page number" >

    {% if projects.has_other_pages %}
        <p>
            <small>current page is: {{projects.number}}</small>
            <br>
            <small>total page is: {{paginator.page_range}}</small>
            {% if projects.has_next %}
                <br>
                <small>next page is: {{projects.next_page_number}}</small>
            {% endif %}
            {% if projects.has_previous %}
                <br>
                <small>previous page is: {{projects.previous_page_number}}</small>
            {% endif %}
        </p>
    {% endif %}
    <br>
    <input type="submit" value="search">
</form>
<table>
    <thead>
        <tr>
            <th>title</th>
            <th>operations</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{project}}</td>
                <td>
                    <a href="{% url 'project' project.id %}">detail</a> |
                    <a href="{% url 'update_project' project.id %}">edit</a> |
                    <a href="{% url 'delete_project' project.id %}">delete</a>
                </td>
            </tr>
        {%  endfor%}
    </tbody>
</table>

{% endblock content %}